@charset "UTF-8";
th {
	font-size: 25px;
}
td{
	font-size: 15px;
}
/* image modal */
.imgModal {
    display: none;
    z-index: 500;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.modalBox {
    position: relative;
    text-align: center;
    top : 15%;
    left : 25%;
    width: 50%;
    max-height: 50%;
    position : sticky;
}
.carousel-item > img:hover{
/*     cursor: -webkit-zoom-in; */
    cursor: pointer;
}
/* image modal end */

.btn-lg {
	display: inline-block; /* Align buttons in a row */
	width: 32%; /* Each button takes up one-third of the container's width */
	box-sizing: border-box; /* Include padding and border in the button's total width */
	margin: 0; /* Remove default margins */
	text-align: center; /* Center the text inside buttons */
	/* Adjust padding as needed, but remember it affects the total width if box-sizing is border-box */
}
.center-align {
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.img-innertext{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate( -50%, -50% );
    color: white;
    background-color : rgb(0,0,0,0.5);
    width: 150px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	filter: invert(80%);
}