@charset "UTF-8";

@media (min-width: 900px) {
    .title {
        font-size:24px;
        font-family: Spoqa Han Sans Neo;
        font-weight: 700;
        margin-bottom: 12px;
        padding-top: 3%;
        padding-left: 2%
    }
}

#likeMain {
	padding-left: 2%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 3%;
}

