@charset "UTF-8";

@media (min-width: 900px) {
    .title {
        font-size:24px;
        font-family: Spoqa Han Sans Neo;
        font-weight: 700;
        margin-bottom: 12px;
        padding-top: 3%;
        padding-left: 2%
    }
}

#likeMain {
	padding-left: 2%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 3%;
}

#menuBar {
	padding-left: 2%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 2%;
}

div{margin:0;}

.tab_wrap{
  overflow:hidden;
  width: 400px;
  margin:0 auto;
  border-bottom:1px solid #cdcdcd;
}
.tab_wrap input{
  display:none;
}
.tab_wrap label{
  display:block; float:left; width:50%; height:35px;
  text-align:center;  line-height:35px;
  border-right:1px dotted #cdcdcd;
  cursor:pointer;
}
.tab_wrap label.on{
  color:#fff;
  background-color:#A27B3A;
}
.tab_content{
  display:none;
  width: 1080px;
  height: 100%;
  margin:0 auto;
  padding:5px 10px;
  box-sizing:border-box;
}
.tab_content1{
  display:block;
}

#empOther, #empMy {
	padding-top: 120px;
	padding-left: 42%;
	height: 300px;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.nameP {
	text-align: left;
	padding-bottom: 2%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#state_TM1 {
	background-color: #0AC304;
	color: white;
}
#state_TM2 {
	background-color: #EFB100;
	color: white;
}
#state_TM3 {
	background-color: #E30000;
	color: white;
}

