<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.chatMapper">
	<select id="roomCheck" parameterType="map" resultType="map">
			SELECT CAST(COUNT(*) AS CHAR) as result
		      FROM CHAT_ROOM 
			 WHERE PRO_NO = #{proNo}
		       AND MEM_NO = (SELECT MEM_NO
  							  FROM MEMBERS
 							 WHERE MEM_ID = #{memId});
	</select>
	
	<insert id="createRoom" parameterType="map">
		insert into CHAT_ROOM (
			CR_NO,
			PRO_NO,
			MEM_NO,
			CR_TIME
		)
		VALUES ( 
			concat("CR", IFNULL((select MAX(cast(replace(CR_NO, "CR", "") AS unsigned))+1 FROM CHAT_ROOM A), 1)),
		    #{proNo},
		    (SELECT MEM_NO
			   FROM MEMBERS
			  WHERE MEM_ID = #{memId}),
			date_format(now(), "%Y%m%d%H%i%s") 
		);
	</insert>
	
	<select id="chatRoomData" parameterType="map" resultType="map">
		SELECT C.CR_NO
			 , C.PRO_NO
		     , C.MEM_NO
		     , C.CR_TIME
		     , M.MEM_ID
		     , M.MEM_NICK
		     , IFNULL(M.MEM_IMAGE, "따봉도치.jpg") MEM_IMAGE
		     , P.PRO_NAME
		     , P.PRO_TSC
		     , (SELECT CODE FROM CODE WHERE CONCAT(CO_TYPE, CO_NO) = P.PRO_TSC) PRO_TSC_CODE
		  FROM CHAT_ROOM C
		  JOIN PRODUCT P
		    ON C.PRO_NO = P.PRO_NO
		  JOIN MEMBERS M
		  <if test='post == "yourPost"'>
		    ON P.PRO_WR = M.MEM_ID
		 WHERE C.MEM_NO = (SELECT MEM_NO
						   FROM MEMBERS
					 	  WHERE MEM_ID = #{memId})
		  </if>
		  <if test='post == "myPost"'>
		    ON C.MEM_NO = M.MEM_NO
	 	 WHERE C.PRO_NO IN ((SELECT PRO_NO FROM PRODUCT WHERE PRO_WR = #{memId}))
		  </if>
	</select>
	
	<insert id="insertChat" parameterType="map">
		  insert into CHATTING(CR_NO, PRO_NO, MEM_ID, MSG_CONTENT, MSG_IMG, MSG_TIME, REAL_TIME)
  		  VALUES (#{CR_NO}, #{PRO_NO}, #{MEM_ID}, #{MSG_CONTENT},  #{MSG_IMG}, #{MSG_TIME}, date_format(NOW(), "%Y%m%d%H%i%s"));
	</insert>
	
	<select id="getChatting" parameterType="map" resultType="map">
		SELECT CR_NO
			 , PRO_NO
		     , MEM_ID
		     , (SELECT MEM_NICK FROM MEMBERS WHERE MEM_ID = C.MEM_ID) MEM_NICK
		     , MSG_CONTENT
		     , MSG_IMG
		     , MSG_TIME
		     , REAL_TIME
		  FROM CHATTING C
		 WHERE CR_NO = #{roomNo}
		 ORDER BY REAL_TIME DESC;
	</select>
	
	<update id="changePostState" parameterType="map">
		UPDATE PRODUCT
		   SET PRO_TSC = #{state}
		 WHERE PRO_NO = #{proNo}; 
	</update>
	
</mapper>