<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.team.mappers.excel">
 		
 	<select id="insertData" parameterType="map" resultType="map">
			SET @tableName = #{tableName};
		<foreach item="data" collection="uploadData">
			SET @sql = NULL;
			SELECT
			  GROUP_CONCAT(DISTINCT
			    CONCAT(
			      'MAX(IF(COL2 = ''',
			      COL2,
			      ''', COL1, NULL)) AS ',
			      COL2
			    )
			  ) INTO @sql
			FROM (SELECT CONCAT('#','{data.',COLUMN_NAME,'}') AS COL1, COLUMN_NAME AS COL2
			  FROM INFORMATION_SCHEMA.COLUMNS
			 WHERE TABLE_SCHEMA = 'c2d2309t1_2' 
			   AND TABLE_NAME = @tableName) AD;
			 
			SET @sql = CONCAT(" SELECT ", @sql, " FROM (SELECT CONCAT('#','{data.',COLUMN_NAME,'}') AS COL1, COLUMN_NAME AS COL2
			  FROM INFORMATION_SCHEMA.COLUMNS
			 WHERE TABLE_SCHEMA = 'c2d2309t1_2' 
			   AND TABLE_NAME = @tableName) AD");
			
			PREPARE stmt FROM @SQL;
			EXECUTE stmt;
			DEALLOCATE PREPARE stmt;
		</foreach>
	</select>
 		
<!-- 	<insert id="insertData" parameterType="map"> -->
<!-- 			SET @tableName = #{tableName}; -->
<!-- 		<foreach item="data" collection="uploadData"> -->
<!-- 			SET @sql = NULL; -->
<!-- 			SELECT -->
<!-- 			  GROUP_CONCAT(DISTINCT -->
<!-- 			    CONCAT( -->
<!-- 			      'MAX(IF(COL2 = ''', -->
<!-- 			      COL2, -->
<!-- 			      ''', COL1, NULL)) AS ', -->
<!-- 			      COL2 -->
<!-- 			    ) -->
<!-- 			  ) INTO @sql -->
<!-- 			FROM (SELECT CONCAT('#','{data.',COLUMN_NAME,'}') AS COL1, COLUMN_NAME AS COL2 -->
<!-- 			  FROM INFORMATION_SCHEMA.COLUMNS -->
<!-- 			 WHERE TABLE_SCHEMA = 'c2d2309t1_2'  -->
<!-- 			   AND TABLE_NAME = @tableName) AD; -->
			 
<!-- 			SET @sql = CONCAT(" SELECT ", @sql, " FROM (SELECT CONCAT('#','{data.',COLUMN_NAME,'}') AS COL1, COLUMN_NAME AS COL2 -->
<!-- 			  FROM INFORMATION_SCHEMA.COLUMNS -->
<!-- 			 WHERE TABLE_SCHEMA = 'c2d2309t1_2'  -->
<!-- 			   AND TABLE_NAME = @tableName) AD"); -->
			
<!-- 			PREPARE stmt FROM @SQL; -->
<!-- 			EXECUTE stmt; -->
<!-- 			DEALLOCATE PREPARE stmt; -->
<!-- 		</foreach> -->
<!-- 	</insert> -->
	
<!-- 	<insert id="insertData" parameterType="map"> -->
<!-- 		<foreach item="data" collection="uploadData"> -->
<!-- 		INSERT INTO((SELECT group_concat(COLUMN_NAME) -->
<!-- 		  FROM INFORMATION_SCHEMA.COLUMNS -->
<!-- 		 WHERE TABLE_SCHEMA = 'c2d2309t1_2'  -->
<!-- 		   AND TABLE_NAME = #{tableName})) -->
<!-- 		 VALUE ((SELECT group_concat(CONCAT('<![CDATA[#]]>{data.',COLUMN_NAME,'}')) COLUMN_NAME -->
<!-- 		  FROM INFORMATION_SCHEMA.COLUMNS -->
<!-- 		 WHERE TABLE_SCHEMA = 'c2d2309t1_2'  -->
<!-- 		   AND TABLE_NAME = #{tableName})) -->
<!-- 		</foreach> -->
<!-- 	</insert> -->
	
	<select id="getfieldName" parameterType="map" resultType="map">
		SELECT group_concat(COLUMN_NAME) COLUMN_NAME
		  FROM INFORMATION_SCHEMA.COLUMNS
		 WHERE TABLE_SCHEMA = 'c2d2309t1_2' 
		   AND TABLE_NAME = #{tableName};
	</select>
</mapper>