<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.homeMapper">

<select id="getProductList" resultType="Map">
	<!-- 판매 최신순 8개 -->  
		SELECT PRO_WR,PRO_NAME, format(PRO_PRICE,0) as "PRO_PRICE",PRO_DATE,IMG_NAME
			  , CODE_TC.CODE AS PRO_TC_CODE
			  , CONCAT(CODE_TSC.CO_TYPE, CODE_TSC.CO_NO)  AS PRO_TSC
			  , CODE_TSC.CODE AS PRO_TSC_CODE
		  FROM PRODUCT
		  JOIN IMAGE ON PRO_NO = IMG_PRONO
		  JOIN CODE AS CODE_TC ON PRO_TC = CONCAT(CODE_TC.CO_TYPE, CODE_TC.CO_NO)
		  JOIN CODE AS CODE_TSC ON PRO_TSC = CONCAT(CODE_TSC.CO_TYPE, CODE_TSC.CO_NO)
	       AND PRO_TC = #{str}
	     WHERE 1 = 1 
	       AND IMG_NO = '1'
		   AND CODE_TSC.CODE IN ('거래가능','거래중')
		 ORDER BY PRO_DATE DESC
         LIMIT 8;		
</select>


</mapper>