<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.homeMapper">

<select id="getSaleProductList" resultType="Map">
	<!-- 판매 최신순 8개 -->  -->
	SELECT *
		FROM PRODUCT
		JOIN IMAGE
			ON PRO_NO = IMG_PRONO
		WHERE IMG_NO = 1
			AND PRO_TC = 'MM1'
			AND PRO_TSC IN ('거래전','판매중')
		ORDER BY PRO_DATE DESC
		LIMIT 8;
</select>
<select id="getBuyProductList" resultType="Map">
	<!-- 구매 최신순 8개 -->  -->
	SELECT *
		FROM PRODUCT
		JOIN IMAGE
			ON PRO_NO = IMG_PRONO
		WHERE IMG_NO = 1
			AND PRO_TC = 'MM2'
			AND PRO_TSC IN ('거래전','구매중')
		ORDER BY PRO_DATE DESC
		LIMIT 8;
</select>
<select id="getDivProductList" resultType="Map">
	<!-- 나눔 최신순 8개 -->  -->
	SELECT *
		FROM PRODUCT
		JOIN IMAGE
			ON PRO_NO = IMG_PRONO
		WHERE IMG_NO = 1
			AND PRO_TC = 'MM3'
			AND PRO_TSC IN ('거래전','나눔중')
		ORDER BY PRO_DATE DESC
		LIMIT 8;
</select>
<select id="getActProductList" resultType="Map">
	<!-- 경매 최신순 8개 -->  -->
		SELECT *
		  FROM AUCTION
		  JOIN IMAGE
		    ON AUC_NO = IMG_PRONO
		 WHERE IMG_NO = 1
		   AND AUC_TC = '경매'
		 ORDER BY AUC_DATE DESC
         LIMIT 8;
</select>

</mapper>