<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.memberMapper">

	<sql id="MEMBER_ALL">
		MEM_NO
	  , MEM_ID
	  , MEM_PW
	  , MEM_NAME
	  , MEM_BIRTH
	  , MEM_TEL
	  , MEM_EMAIL
	  , MEM_GENDER
	  , MEM_NICK
	  , MEM_DATE
	  , MEM_REDATE
	  , MEM_IMAGE
	  , MEM_RENEW
	  , MEM_ACC
	  , MEM_CAT
	</sql>

	<insert id="insertmember">
		insert into MEMBERS
				( MEM_NO
				, MEM_ID
				, MEM_PW
				, MEM_GENDER
				, MEM_NAME
				, MEM_NICK
				, MEM_BIRTH
				, MEM_TEL
				, MEM_EMAIL
				, MEM_DATE
				, MEM_CAT
				, MEM_IMAGE )
		values ( concat("ME", IFNULL((select MAX(cast(replace(MEM_NO, "ME", "") AS unsigned))+1 FROM MEMBERS A), 1))
				,#{MEM_ID}
				,#{MEM_PW}
				,#{MEM_GENDER}
				,#{MEM_NAME}
				,#{MEM_NICK}
				,#{MEM_BIRTH}
				,#{MEM_TEL}
				,#{MEM_EMAIL}
				,DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
				,'0'
				,'profile.png' ) 
	</insert>
	
	<select id="login" resultType="map">
		select MEM_ID, MEM_PW, MEM_NICK
		from MEMBERS
		where MEM_ID = #{MEM_ID}
		and MEM_PW = #{MEM_PW}
		and MEM_CAT = '0'
	</select>
	
	<select id="socialLogin" resultType="map">
		select MEM_ID
			 , MEM_CAT
		from MEMBERS
		where MEM_ID = #{MEM_ID}
	</select>	
	
	<select id="adminLogin" resultType="map">
		select ROL_NO
		from ADMIN
		where AD_ID = #{AD_ID} 
		and AD_PW = #{AD_PW}
	</select>	
	
	<select id ="getMember" resultType="map">
		select <include refid="MEMBER_ALL" />
		from MEMBERS
		where MEM_ID = #{MEM_ID}
	</select>
	
	<select id="memCheck" resultType="map">
		select <include refid="MEMBER_ALL" />
		from MEMBERS
		where MEM_PW = #{MEM_PW}
	</select>
	
	<select id="idCheck" resultType="int">
		select count(MEM_NICK)
		from MEMBERS
		where MEM_ID = #{MEM_ID}
	</select>
	
	<select id="nickCheck" resultType="int">
		select count(MEM_NICK)
		from MEMBERS
		where MEM_NICK = #{MEM_NICK}
	</select>
	
	<select id="emailCheck" resultType="int">
		select count(MEM_EMAIL)
		from MEMBERS
		where MEM_EMAIL = #{MEM_EMAIL}
	</select>
	
	<select id="findId" parameterType="map" resultType="map">
		select <include refid="MEMBER_ALL" />
		from MEMBERS
		where 
			<if test="MEM_EMAIL != null">MEM_EMAIL = #{MEM_EMAIL} </if>
			<if test="MEM_NAME != null">AND MEM_NAME = #{MEM_NAME} </if>
			<if test="MEM_ID != null">AND MEM_ID = #{MEM_ID} </if>
	</select>
	
	<select id="mypage" parameterType="map" resultType="map">
		select M.MEM_NO
			 , M.MEM_ID
			 , M.MEM_PW
			 , M.MEM_IMAGE
			 , M.MEM_EMAIL
			 , M.MEM_NAME
			 , M.MEM_NICK
			 , M.MEM_TEL
			 , CAST(MEM_BIRTH AS date) MEM_BIRTH
			 , S.SCO_SCORE
			 , M.MEM_CAT
			 , M.MEM_REDATE
		from MEMBERS M
		left outer join SCORE S
		on M.MEM_NO = S.MEM_NO
		where 1 = 1
		and M.MEM_ID = #{MEM_ID}
	</select>
	
	<update id="memberEdit" parameterType="map">
		update MEMBERS
		set MEM_NAME = #{MEM_NAME}
		  , MEM_NICK = #{MEM_NICK}
		  , MEM_PW = #{MEM_PW}
		  , MEM_TEL = #{MEM_TEL}
		  <if test="MEM_IMAGE != null">
		  , MEM_IMAGE = #{MEM_IMAGE}
		  </if>
		  , MEM_REDATE = DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
		where 1 = 1
		and MEM_ID = #{MEM_ID}
	</update>

	<update id="pwUpdate" parameterType="map">
 		update MEMBERS
 		set MEM_PW = #{MEM_PW}
 		where MEM_EMAIL = #{MEM_EMAIL}
	</update>
	
	<select id="myListSell" parameterType="map" resultType="map">
		select P.PRO_TC
			 , P.PRO_TSC
			 , P.PRO_WR
			 , P.PRO_DATE
			 , P.PRO_NAME
			 , format(P.PRO_PRICE, 0) as "PRO_PRICE"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from MEMBERS M
		join PRODUCT P
		on M.MEM_ID = P.PRO_WR
        join CODE C1
        on P.PRO_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on P.PRO_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on P.PRO_NO = I.IMG_PRONO
        where concat(C1.CO_TYPE, C1.CO_NO) = 'MM1'
        and M.MEM_ID = #{MEM_ID}
        and I.IMG_NO = '1'
        order by P.PRO_TSC, cast(trim(leading 'PR' from PRO_NO) as unsigned) desc;
	</select>
	
	<select id="myListBuy" parameterType="map" resultType="map">
		select P.PRO_TC
			 , P.PRO_TSC
			 , P.PRO_WR
			 , P.PRO_DATE
			 , P.PRO_NAME
			 , format(P.PRO_PRICE, 0) as "PRO_PRICE"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from MEMBERS M
		join PRODUCT P
		on M.MEM_ID = P.PRO_WR
        join CODE C1
        on P.PRO_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on P.PRO_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on P.PRO_NO = I.IMG_PRONO
        where concat(C1.CO_TYPE, C1.CO_NO) = 'MM2'
        and M.MEM_ID = #{MEM_ID}
        and I.IMG_NO = '1'
        order by P.PRO_TSC, cast(trim(leading 'PR' from PRO_NO) as unsigned) desc;
	</select>
	
	<select id="myListShare" parameterType="map" resultType="map">
		select P.PRO_TC
			 , P.PRO_WR
			 , P.PRO_DATE
			 , P.PRO_TSC
			 , P.PRO_NAME
			 , format(P.PRO_PRICE, 0) as "PRO_PRICE"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from MEMBERS M
		join PRODUCT P
		on M.MEM_ID = P.PRO_WR
        join CODE C1
        on P.PRO_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on P.PRO_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on P.PRO_NO = I.IMG_PRONO
        where concat(C1.CO_TYPE, C1.CO_NO) = 'MM3'
        and M.MEM_ID = #{MEM_ID}
        and I.IMG_NO = '1'
        order by P.PRO_TSC, cast(trim(leading 'PR' from PRO_NO) as unsigned) desc;
	</select>
	
	<select id="myListAuction" parameterType="map" resultType="map">
		select A.AUC_TSC
			 , A.AUC_NAME
			 , A.AUC_SELLER
			 , A.AUC_DATE
			 , format(A.AUC_BP, 0) as "AUC_BP"
			 , DATE_FORMAT(A.AUC_ETIME, '%m/%d %H%:%i') as "AUC_ETIME"
			 , format(A.AUC_INP, 0) as "AUC_INP"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from MEMBERS M
		join AUCTION A
		on M.MEM_ID = A.AUC_SELLER
        join CODE C1
        on A.AUC_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on A.AUC_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on A.AUC_NO = I.IMG_PRONO
        where concat(C1.CO_TYPE, C1.CO_NO) = 'MM4'
        and M.MEM_ID = #{MEM_ID}
        and A.AUC_TSC != 'TM3'
        and I.IMG_NO = '1'
        order by A.AUC_TSC, cast(trim(leading 'AU' from AUC_NO) as unsigned) desc;
	</select>
	
	<select id="deleteCheck" resultType="map">
		select MEM_NO, MEM_EMAIL
		from MEMBERS
		where MEM_EMAIL = #{MEM_EMAIL}
		and MEM_NO = #{MEM_NO}
	</select>
	
	<update id="memberDelete" parameterType="map">
		update MEMBERS
		set MEM_CAT = '2'
		  , MEM_EXDATE = DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
		where MEM_EMAIL = #{MEM_EMAIL}
	</update>
	
	<update  id="resetImage" parameterType="String">
		update 	MEMBERS
		set 	MEM_IMAGE = default
		where 	MEM_ID = #{MEM_ID}
	</update>
	
	<select id="likeList" parameterType="String" resultType="map">
		SELECT L.LIK_NO
				, SUBSTR(P.PRO_TC, 3, 1) AS "PRO_NUM"
				, CASE P.PRO_TC WHEN 'MM1' THEN '판매'
				  			    WHEN 'MM2' THEN '구매'
				  			    WHEN 'MM3' THEN '나눔'
				  			    WHEN 'MM4' THEN '경매'
				  END AS "PRO_TC"
				, P.PRO_TSC
				, CASE P.PRO_TSC WHEN 'TM1' THEN '거래가능'
				  			     WHEN 'TM2' THEN '거래중'
				  			     WHEN 'TM3' THEN '거래완료'
				  END AS "PRO_STATE"
				, P.PRO_NAME
				, P.PRO_WR
				, P.PRO_DATE
				, FORMAT(P.PRO_PRICE, 0) AS "PRO_PRICE"
		        , I.IMG_NAME
		FROM LIKES L JOIN PRODUCT P
		ON L.LIK_PRONO = P.PRO_NO
		JOIN IMAGE I
		ON L.LIK_PRONO = I.IMG_PRONO
		WHERE L.MEM_ID = #{MEM_ID}
		AND I.IMG_NO = '1'
		AND PRO_TC = 'MM1'
	</select>
	
	<delete id="deleteLike">
		DELETE FROM LIKES
		WHERE LIK_NO = #{LIK_NO}
	</delete>
	
	<select id="myTrade" parameterType="map" resultType="map">
		select P.PRO_TC
			 , P.PRO_TSC
			 , P.PRO_WR
			 , P.PRO_DATE
			 , P.PRO_NAME
			 , format(P.PRO_PRICE, 0) as "PRO_PRICE"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from MEMBERS M
		join PRODUCT P
		on M.MEM_ID = P.PRO_WR
        join CODE C1
        on P.PRO_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on P.PRO_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on P.PRO_NO = I.IMG_PRONO
        where M.MEM_ID = #{MEM_ID}
        and P.PRO_TSC = 'TM3'
        and I.IMG_NO = '1'
		order by cast(trim(leading 'PR' from PRO_NO) as unsigned) desc
	</select>
	
	<select id="otherTrade" parameterType="map" resultType="map">
		select P.PRO_TC
			 , P.PRO_TSC
			 , P.PRO_WR
			 , P.PRO_DATE
			 , P.PRO_NAME
			 , format(P.PRO_PRICE, 0) as "PRO_PRICE"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from MEMBERS M
		join PRODUCT P
		on M.MEM_ID = P.PRO_WR
        join CODE C1
        on P.PRO_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on P.PRO_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on P.PRO_NO = I.IMG_PRONO
        where P.PRO_OT = #{MEM_ID}
        and P.PRO_WR != #{MEM_ID}
        and P.PRO_TSC = 'TM3'
        and I.IMG_NO = '1'
        order by cast(trim(leading 'PR' from PRO_NO) as unsigned) desc
	</select>
	
	<select id="trading" parameterType="map" resultType="map">
		select P.PRO_TC
			 , P.PRO_TSC
			 , P.PRO_WR
			 , P.PRO_DATE
			 , P.PRO_NO
             , A.NAME
             , A.MERCHANT_UID
             , DATE_FORMAT(A.PAY_TIME, '%Y.%m.%d %H:%i:%s') as "PAY_TIME"
             , A.PAY_MSG
             , format(A.PAID_AMOUNT, 0) as "PAID_AMOUNT"
             , A.BUYER_NO 
             , A.SELLER_NO
			 , format(P.PRO_PRICE, 0) as "PRO_PRICE"
             , C1.CODE as "TC_NAME"
             , C2.CODE as "TSC_NAME"
             , I.IMG_NAME
		from PRODUCT P
        join PAY A
        on  P.PRO_NO = A.PRO_NO
        join CODE C1
        on P.PRO_TC = concat(C1.CO_TYPE, C1.CO_NO)
        join CODE C2
        on P.PRO_TSC = concat(C2.CO_TYPE, C2.CO_NO)
        left outer join IMAGE I
        on P.PRO_NO = I.IMG_PRONO
        where P.PRO_WR = #{PRO_WR}
        and P.PRO_TSC = 'TM2'
        and I.IMG_NO = '1'
        order by cast(trim(leading 'PR' from P.PRO_NO) as unsigned) desc
	</select>
	
	<update id="changeState" parameterType="map">
		update PRODUCT
		set PRO_TSC = 'TM3'
		where PRO_NO = #{PRO_NO}
	</update>
	
</mapper>