<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.payMapper">
	
	<sql id="ADDRESS_ALL">
		ADD_NO
		, MEM_NO
		, ADD_POST
		, ADD_NAME
		, ADD_DETAIL
		, ADD_NICK
		, ADD_RECEIVER
		, ADD_PHONE
	</sql>
	
	<!--결제할 상품 정보 select  -->
	<select id="getPayProList" resultType="map" parameterType="map">
		SELECT *
		FROM PRODUCT
		JOIN IMAGE
			ON PRO_NO = IMG_PRONO
		WHERE IMG_NO = "1"
		AND PRO_WR = #{proWr}
		AND PRO_DATE = #{proDate}	
	</select>
			
	<!--로그인 회원 배송지리스트  select  -->
	<select id="getMemAdd" resultType="map">
		SELECT * 
			FROM MEMBERS M
			JOIN ADDRESS A
				ON M.MEM_NO = A.MEM_NO
			WHERE M.MEM_NO = #{MEM_NO}	
	</select>
	
	<!--로그인 회원 최근 배송지(기본배송지) select  -->
	<select id="getMemAddBasic" resultType="map">
		SELECT * 
			FROM MEMBERS M
			JOIN ADDRESS A
				ON M.MEM_NO = A.MEM_NO
			WHERE M.MEM_NO = #{MEM_NO}
			AND ADD_BASIC = '1'	
	</select>
	
	<!--로그인 회원 배송리스트 select  -->
	<select id="getAddList" resultType="map">
		SELECT * 
			FROM MEMBERS M
			JOIN ADDRESS A
				ON M.MEM_NO = A.MEM_NO
			WHERE M.MEM_NO = #{MEM_NO}	
	</select>
	
	<insert id="addDelivery">
		INSERT INTO ADDRESS
			( ADD_NO
			, MEM_NO
			, ADD_POST
			, ADD_NAME
			, ADD_DETAIL
			, ADD_NICK
			, ADD_RECEIVER
			, ADD_PHONE)
		VALUES ( CONCAT("ADD", IFNULL((SELECT MAX(CAST(REPLACE(ADD_NO,"ADD", "") AS UNSIGNED))+1) FROM ADDRESS A), 1))	 
			, #{MEM_NO}
			, #{ADD_POST}
			, #{ADD_NAME}
			, #{ADD_DETAIL}
			, #{ADD_NICK}
			, #{ADD_RECEIVER}
			, #{ADD_PHONE})
	</insert>

<!-- 	<insert id="insertAddress"> -->
<!-- 		INSERT INTO ADDRESS -->
<!-- 		    ( ADD_NO -->
<!-- 		    , MEM_NO -->
<!-- 		    , ADD_POST -->
<!-- 		    , ADD_NAME -->
<!-- 		    , ADD_DETAIL -->
<!-- 		    , ADD_NICK -->
<!-- 		    , ADD_RECEIVER -->
<!-- 		    , ADD_PHONE) -->
<!-- 		VALUES (CONCAT('ADD', IFNULL((SELECT MAX(CAST(REPLACE(ADD_NO, 'ADD', '') AS UNSIGNED)) -->
<!--                     					FROM ADDRESS  -->
<!--                     					WHERE MEM_NO = #{MEM_NO}), 0) + 1), -->
<!--                     				(SELECT MAX(CAST(REPLACE(ADD_NO, 'ADD', '') AS UNSIGNED)) FROM ADDRESS) + 1)),	 -->
<!-- 		     #{MEM_NO}, -->
<!-- 		     #{ADD_POST}, -->
<!-- 		     #{ADD_NAME}, -->
<!-- 		     #{ADD_DETAIL}, -->
<!-- 		     #{ADD_NICK}, -->
<!-- 		     #{ADD_RECEIVER}, -->
<!-- 		     #{ADD_PHONE}); -->
<!-- 	</insert> -->
	
</mapper>